<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form Validation</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    
    <script src="libs/vuelidate.min.js"></script> 
    <script src="libs/validators.min.js"></script> 
    
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <h1>Form Validation</h1>
        <form autocomplete="off" v-on:submit.prevent="submitForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" v-model="form.name"
                    v-on:blur="$v.form.name.$touch()"
                    v-bind:class="{error: $v.form.name.$error , valid : !$v.form.name.$invalid}"
                >
                <!--
                    there are several variable such as
                    invalid = not correct
                    dirty = field isnt dirty
                    error = invalid and dirty
                -->
                <p v-if="$v.form.name.$error" class="error-message">The name field is required</p>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input id="age" v-model="form.age"
                    v-on:blur="$v.form.age.$touch()"
                    v-bind:class="{error: $v.form.age.$error , valid : !$v.form.age.$invalid}"
                >
                <div v-if="$v.form.age.$error">
                    <p v-if="!$v.form.age.required" class="error-message">The age field is required</p>
                    <p v-else-if="!$v.form.age.integer" class="error-message">The age field must be an integers number</p>
                    <p v-else-if="!$v.form.age.between" class="error-message">The age field must be in between 12 and 120</p>
                </div>
            </div>

            <div class="form-group">
                <label for="food">Pizza Or Burger:</label>
                <input v-model.number="form.food"
                       @blur="$v.form.food.$touch()"
                       :class="{error: $v.form.food.$error, valid: !$v.form.food.$invalid}"
                       id="food"
                >
                <p v-if="$v.form.food.$error && !$v.form.food.pizzaOrBurger" class="error-message">Sorry! We only serve pizzas and burgers</p>
              </div>

              <div class="form-group">
                <label for="newsletter">Subscribe to the newsletter:</label>
                <input v-model="form.newsletter"
                       type="checkbox"
                       id="newsletter"
                >
              </div>
          
              <div class="form-group">
                <label for="email">Email:</label>
                <input v-model="form.email"
                       v-on:blur="$v.form.email.$touch()"
                       v-bind:class="{error: $v.form.email.$error, valid: !$v.form.email.$invalid}"
                       id="email"
                >
                <p v-if="!$v.form.email.email && $v.form.email.$error" class="error-message">Invalid email address</p>
                <p v-if="!$v.form.email.required && $v.form.email.$error" class="error-message">Email is required so we can send you the newsletter</p>
              </div>

              <div class="form-group">
                  <label for="github">Github username:</label><!--use v-model.lazy so it doesnt call the api on every keystroke-->
                  <input v-model.lazy="form.githubUsername" 
                    v-on:blur="$v.form.githubUsername.$touch()"
                    v-bind:class="{error: $v.form.githubUsername.$error, valid: !$v.form.githubUsername.$invalid}"
                    id="github-username"
                  >
                  <span v-show="$v.form.githubUsername.$pending">Loading</span>
                  <p v-if="!$v.form.githubUsername.exists && $v.form.githubUsername.$error" class="error-message">GithubProfile required </p>
              </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>
    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</body>

</html>